.heading{
    font-size: 36px;
    font-weight:700;
    background-image: url('https://www.trela.com.br/_next/image?url=%2Fimages%2Fstep%2FPointer.svg&w=96&q=75');
    background-repeat: no-repeat;
    background-position:relative;
    background-position-x:15vw;
    background-position-y:7vh;
    margin-bottom:2px;
    height:20vh;
    margin-left: 20px;

}
.info{
    margin-left:20px;
}
.color1{
    margin-left: 20px;
    background-color: #f34f01;
}
.color1:hover{
    background-color: #db4601;
}
