.heading{
    font-size: 3rem;
    font-weight:700;
    margin-bottom:2px;
   height: 100%;
    margin-left: 20px;
    width:25ch;

}
.info{
    margin-left:20px;
    overflow: hidden;
}
.color1{
    margin-left: 20px;
    background-color: #f34f01;
}
.color1:hover{
    background-color: #db4601;
}
@media only screen and (max-width: 600px) {
    .heading{
    
font-size: 2.5rem;

}
}
@media only screen and (max-width: 491px) {
    .heading{
    
font-size: 2.1rem;

}
}
@media only screen and (max-width: 422px) {
    .heading{
    
font-size: 2rem;

}
}
@media only screen and (max-width: 408px) {
    .heading{
    
font-size: 1.8rem;

}
}
@media only screen and (max-width: 368px) {
    .heading{
    
font-size: 1.7rem;

}
}
