
.intro{
    display: flex;
    padding-top: 8rem;
    margin-left: 2rem;
   min-height: 90vh;
    
}
.slogan{
    font-size: 4.5rem;
    font-weight: bolder;
    width: 20ch;
    
}
.slogan1{
    color:#847a7a;
    font-size:1.4rem;
    font-weight:400;
    margin-top: 10px;
}
.color{
    background-color: #f34f01;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.color:hover{
    background-color: #db4601;
}
.offer{
    
    display: flex;
}
.emoji{
    margin-right:6px;
    margin-top: 2px;
    font-size: 20px;
}
.animation{
    display: flex;
    position: relative;
    animation:1.2s ease 0s infinite alternate mymove;
    
    
}
.margin{
    border-radius: 10px;
}
.text{
    font-size: small;
}




.intro_right img{
height:auto;
max-width: 100%;
display: flex;
max-height:80vh;
}
@keyframes mymove{
    from{top:0rem;}
    to{top:0.5rem}
}
@media only screen and (max-width: 600px){
    .intro{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }
  .intro_right

      
  
    .intro_right img{

        height: 20rem;
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin: auto;
   
        
    }
    
    .slogan{
        margin-left: -0.6rem;
        font-size: 3rem;
       width: 17ch;
       text-align: center;
    }
   
}
@media screen and (max-width:840px) {
    .slogan{
        font-size: 3.2rem;
    }
    
}
@media screen and (max-width:1170px) {
    .intro{
        flex-direction: column-reverse;
    }
    
    .slogan{
        width: 25ch;
      
    }
    .slogan1{
        width:70ch;
    }
    .intro_right img{
        display: block;
      margin-left: auto;
       margin-right: auto;
       width: 50%;
        max-height:100%;
    }
}