.mapimage{
    
    margin-left: 5vw;
    margin-right:5vw;
    margin-bottom:2vh;
    margin-top: 2vh;
    
}
.mapimage img{
    width: 90vw;
    height: 40vw;
}
.rounded{
    border-radius: 30px;
}
.headingm{
    
        font-size:36px;
        font-weight:500;
}
.map{
    margin-left: 20px;
}
.headingloc{
    font-size: 20px;
    font-weight: 500;
}
.address{
    color:#847a7a;
}
.locations{
    display: flex;
    
    
    align-items: center;
    justify-content: space-between;
    
}
.location{
    display: flex;
}
.button2{
   max-height: fit-content;
}
.data_div p{

max-width: 25ch;
}
.color6{
   background-color: orange;
   border-radius: 100px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f34f01 !important;
    height: 4rem;
    font-size:1rem;
    

    
}

@media only screen and (max-width: px) {
    .button2{
        margin-left: 0;
    }
    
  }

